<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/foto22.png" class="img-fluid" id="fotoDePerfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Pedro Matias Spergge</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1 id="title">Acerca de mí</h1>
            <p>Soy estudiante de Programacion Web, actualmente estudiando para poder obtener el certificado de
                Desarrollador Web Full Stack en Argentina Programa, ademas sigo estudiando en plataformas online como
                Platzi o udemy, soy autodidacta y creativo, me gusta aprender nuevas tecnologías e investigar. Siempre
                estoy en constante aprendizaje y llevando todo a la practica con proyectos grupales de estudio. Estoy en
                la
                busqueda de mi primer experiencia laboral, soy muy entusiasta y siempre con ganas de mejorar y aprender
                dia a dia.</p>
        </span>
    </div>
</div>