.row {
    padding: 20px;
    background-color: #030418;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%2303041c' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%2303051f' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23030523' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23020627' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%2302062B' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    color: #fefefe;
}

.contenedor {
    width: auto;

}

.parte1,
.parte2 {
    display: inline-block;
    text-align: justify;
}

.img-proyecto {
    box-shadow: 10px 10px 20px #fac895;
}

#title {
    box-shadow: 2px -2px 15px #fac895;
    border-radius: 10px;
    margin-bottom: 80px;
    margin-top: 50px;
}