<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/foto22.png" class="img-fluid" id="fotoDePerfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Pedro Matias Spergge</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex commodi iure neque quidem blanditiis
                nulla! Quia, ducimus animi deleniti tenetur natus omnis voluptatem rerum nisi! Ipsum reprehenderit
                nemo voluptatibus sunt!</p>
        </span>
    </div>
</div>