<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" alt="Logo Argentina Programa" id="logoAP">
        </div>
        <div class="redes">
            <a href="https://www.linkedin.com/in/pedro-matias-spergge/"><img src="../../../assets/linkedin.png"
                    id="linkedin"></a>
            <a href="https://www.instagram.com/pmspergge/"><img src="../../../assets/instagram.png" id="instagram"
                    alt=""></a>
            <a href="https://github.com/pmspergge"><img src="../../../assets/github.png" id="github"></a>
            <button type="button" class="btn btn-outline-light" (click)="login()">Log In</button>
        </div>
    </div>
</div>