.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.redes {
    margin-right: 1rem;
}

#logoAP {
    width: 150px;
}

img {
    width: 50px;
    margin: 0px 2px 0px 5px;
}

.btn {
    border-width: 0.15rem;
}

/*--- Para la vista del celular ---*/
@media(max-width:575px) {
    .container {
        flex-direction: column;
    }

    .redes {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .redes img {
        margin: 0.2em;
    }
}