<div class="row">
    <h1 id="title">Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Desarrollador Web Full Stack Argentina Programa</h1> - <h3>(2021 - 2023)</h3>
            </li>
        </ul>
        <ul>
            <li>
                <h1>Universidad Atlantida Argentina Ciencias Economicas (contador publico) 1er Año Completo</h1> - <h3>
                    (UAA 2015-2016)</h3>
            </li>
        </ul>
        <ul>
            <li>
                <h1> Desarrollador Web Front End, Cleo Code</h1> - <h3>(2021 - 2022)</h3>
            </li>
        </ul>
        <ul>
            <li>
                <h1> Web Development Fundamentals, Sololearn</h1> - <h3>(2021 - 2022)</h3>
            </li>
        </ul>
        <ul>
            <li>
                <h1>Ingles A2</h1> - <h3>Estudiando actualmente en el Centro Universitario de Idiomas</h3>
            </li>
        </ul>
        <ul>
            <li>
                <h1>Portugues C2. Competencia profesional completa.</h1>
            </li>
        </ul>
    </div>
</div>