<div class="row">
    <h1 id="title">Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Proyecto Programacion en Esp
                </h1> - <h3>(Junio 2022 - Septiembre 2022)</h3>
            </li>
            <p>
                Sitios Web de Reclamos y Quejas para Universidades, trabajo en conjunto con un compañero, haciendo el
                Front-end y el Back-end. Con daylis diarias, scrum y metodologias agiles. Tecnologias utilizadas: Git,
                GitHub, Html, css, Boostrap 5, Material UI, Javascript, Mongoi DB, Node JS, React JS, Express JS.
                Link del Repositorio: https://github.com/pmspergge/SitioWeb_Universidad_Reclamos_y_Quejas
                Link de presentacion del Proyecto en vivo por mi: Review final del evento de la comunidad: los
                participantes muestran sus proyectos - Video YouTube https://www.youtube.com/watch?v=siK5sABWOu8
        </ul>
        <ul>
            <li>
                <h1>CEO Barber And Drinks
                </h1> - <h3>(Noviembre 2020 - Mayo 2021)</h3>
            </li>
            <p>
                CEO, dueño y creador de la Barberia y Barra-Bar. Creacion de contenido para el negocio. Tres empleados a
                cargo.
            </p>
        </ul>
        <ul>
            <li>
                <h1>Encargado Negocio de Cobranzas</h1> - <h3>(Junio 2018 - Septiembre 2020)</h3>
            </li>
            <p>
                Encargado de un local de pagon de facturas, envio de dinero, etc. Caja y cierre de caja. Contabilidad.
                Balance de cuentas
                <br><br>
                * Cuento con mas experiencias laborales, pero no tienen que ver con lo que busco actualmente.

            </p>
        </ul>
    </div>
</div>