<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Estudio 1</h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur similique, iusto nisi facere
                distinctio omnis obcaecati ut nihil deleniti, perferendis, excepturi maxime sunt? Sequi doloribus
                architecto minus aut tempore ratione.
            </p>
        </ul>
        <ul>
            <li>
                <h1>Estudio 2</h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur similique, iusto nisi facere
                distinctio omnis obcaecati ut nihil deleniti, perferendis, excepturi maxime sunt? Sequi doloribus
                architecto minus aut tempore ratione.
            </p>
        </ul>
        <ul>
            <li>
                <h1>Estudio 3</h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur similique, iusto nisi facere
                distinctio omnis obcaecati ut nihil deleniti, perferendis, excepturi maxime sunt? Sequi doloribus
                architecto minus aut tempore ratione.
            </p>
        </ul>
    </div>
</div>