.row {
    padding: 20px;
}

div {
    text-align: center;
    color: #fefefe;
    background-color: #030418;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%2303041c' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%2303051f' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23030523' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23020627' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%2302062B' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}



/*estilo de la foto de perfil*/

@media (min-width: 576px) {
    #fotoDePerfil {
        position: absolute;
        width: 13%;
        border-radius: 100%;
        box-shadow: 3px 3px 13px #fac895;
        left: 10%;
        top: 590px;
        height: 170px;
    }
}

@media (max-width: 575px) {
    #fotoDePerfil {
        position: absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 3px 3px 13px #fac895;
        left: 2%;
        top: 800px;
        height: 250px;
    }
}



/*etiqueta nombre*/

#nombre {
    font-size: 20px;
    font-weight: bolder;
    margin-top: 20%;
}

#developer {
    font-size: 2vh;
    margin-top: 5px;
}

#title {
    font-weight: bolder;
    color: transparent;
    background: linear-gradient(74deg, rgba(198, 77, 2, 1) 31%, rgba(255, 128, 0, 1) 53%, rgba(110, 49, 11, 1) 77%);
    background-clip: text;
    -webkit-background-clip: text;
}

#container {
    box-shadow: 2px -2px 15px #fac895;
    border-radius: 10px;
    margin: 20px 0px 20px 0px;
    width: 64%;
}

#btn {
    margin-top: 5px;
}